@font-face
{
	font-family: "TrajanProBold";
	src: url("../fontstyles/TrajanProBold.ttf");
}

@font-face
{
	font-family: "Adam";
	src: url("../fontstyles/Adam.ttf");
}

body
{
	background-color: rgb(43, 35, 24);
}

#wpr
{
	margin: auto;
	margin-bottom: 0px;
	position: absolute;
	width: 1900px;
}

#bgimg
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -10px;
	margin-top: -10px;
}

h1
{
	font-family: "TrajanProBold";
	font-size: 90px;
	color: rgb(144, 110, 73);
	font-weight: bold;
	position: absolute;
	top: 200px;
	left: 0px;
	right: 730px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#bg
{
	padding-left: 50px;  
	padding-right: 50px;
	padding-bottom: 50px;
	margin-left: 368px;
	margin-right: 368px;
	margin-bottom: 0px;
	background-color: rgb(186, 173, 143);
}

#nav
{
	font-family: "TrajanProBold";
	font-size: 21px;
	text-align: center;
	list-style-type: none;
	margin-left: -100px;
	margin-right: -100px;
}

#li1, #li2, #li3, #li4
{
	display: inline;
}

.nav
{
	text-decoration: none;
	color: rgb(43, 35, 24);
}

.nav:hover
{
	color: white;
}

.nav:active
{
	position: relative;
	top: 10px;
}

#navbar
{
	background-color: rgb(186, 173, 143);
	position: sticky;
	top: 0px;
	z-index: 3;
}

#hr1
{
	margin-left: -50px;
	margin-right: -50px;
	margin-bottom: -15px;
	height: 2px;
	background-color: rgb(43, 35, 24);
	border: none;
}

#hr2
{
	margin-top: -15px;
	margin-left: -50px;
	margin-right: -50px;
	height: 2px;
	background-color: rgb(43, 35, 24);
	border: none;
}

#li1, #li2, #li3, #li4
{
	margin-right: 40px;
}

#intro
{
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "Century Gothic";
	font-size: 35px;
	font-weight: bold;
	text-align: justify;
	color: black;
}

#mk
{
	display: inline;
	float: left;
	margin-bottom: 40px;

}

#tf
{
	display: inline;
	float: right;
	margin-bottom: 40px;
}

#wa
{
	margin-top: 40px;
	font-family: "TrajanProBold";
	font-size: 35px;
	font-weight: bold;
	text-align: justify;
	color: black;
}

#para1
{
	margin-top: 20px;
	font-family: "Century Gothic";
	font-size: 25px;
	text-align: justify;
	color: black;
}

#para2
{
	margin-top: 20px;
	font-family: "Century Gothic";
	font-size: 25px;
	text-align: justify;
	color: black;
}

#em
{
	margin-top: 30px;
	display: block;
	text-align: center;
}

#hy
{	
	margin-top: 20px;
	font-family: "TrajanProBold";
	font-size: 35px;
	font-weight: bold;
	text-align: justify;
	color: black;
	
}

#para3
{
	margin-top: 20px;
	font-family: "Century Gothic";
	font-size: 25px;
	text-align: justify;
	color: black;	
}

#hl
{
	margin-top: 40px;
	font-family: "TrajanProBold";
	font-size: 35px;
	font-weight: bold;
	text-align: justify;
	color: black;
}

#t1
{
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: "Century Gothic";
	font-size: 25px;
	text-align: justify;
	color: black;
}

#ti1
{
	display: inline;
	float: left;
}	

#ti2
{
	display: inline;
	float: right;
	margin-bottom: 20px;
}

#t2
{
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: "Century Gothic";
	font-size: 25px;
	text-align: justify;
	color: black;

}

#t3
{
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: "Century Gothic";
	font-size: 25px;
	text-align: justify;
	color: black;
}

#ti3
{
	margin-top: 20px;
	display: inline;
	float: left;
	margin-bottom: 20px;
}

#ti4
{
	margin-top: 20px;
	display: inline;
	float: left;
	margin-bottom: 20px;
}

#ti5
{
	margin-top: 20px;
	display: inline;
	float: right;
	margin-bottom: 20px;
}

#refhr
{
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "TrajanProBold";
	font-size: 20px;
	text-align: left;
	color: black;
	font-weight: bold;
}

#ref
{
	margin-top: 20px;
	font-family: "Century Gothic";
	font-size: 16px;
	text-align: left;
	color: black;
}

aside
{
	float: right;
	position: fixed;
	top: 40%;
}

.icon1
{ 
	position: relative;
	background: url(../images/imgsprite.png) no-repeat -0px -153px;
	width: 84px;
	height: 77px;
}

.icon1:hover
{
	background: url(../images/imgsprite.png) no-repeat -0px -69px;
}

.icon2
{ 
	background: url(../images/imgsprite.png) no-repeat -672px -153px;
	width: 84px;
	height: 77px;
}

.icon2:hover
{
	background: url(../images/imgsprite.png) no-repeat -672px -70px;
}

.icon3
{ 
	position: relative;
	background: url(../images/imgsprite.png) no-repeat -841px -153px;
	width: 84px;
	height: 77px;
	bottom: 1px;
}

.icon3:hover
{
	background: url(../images/imgsprite.png) no-repeat -841px -70px;
}
