@font-face
{
	font-family: "TrajanProBold";
	src: url("../fontstyles/TrajanProBold.ttf");
}

@font-face
{
	font-family: "Adam";
	src: url("../fontstyles/Adam.ttf");
}

body
{
	background-color: rgb(43, 35, 24);
}

@keyframes reverseflashbang
{
	from {filter: brightness(0)}
	to{filter: brightness(1)}
}

body
{
	animation:reverseflashbang 0.5s;
}

#wpr
{
	margin: auto;
	margin-bottom: 0px;
	position: absolute;
	width: 1900px;
}

#bgimg
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -390px;
	margin-top: -10px;
}

header
{
	font-family: "TrajanProBold";
	font-size: 90px;
	color: rgb(144, 110, 73);
	font-weight: bold;
	position: absolute;
	top: 250px;
	left: 0px;
	right: 730px;
	text-align: center;
}

#h2
{
	font-family: "TrajanProBold";
	font-size: 45px;
	color: rgb(144, 110, 73);
	font-weight: bold;
	position: absolute;
	top: 250px;
	left: 675px;
	right: 0px;
	text-align: center;
}

#bg
{
	padding-left: 50px;  
	padding-right: 50px;
	padding-bottom: 20px;
	margin-top: 386px;
	margin-left: 369px;
	margin-right: 369px;
	margin-bottom: 0px;
	background-color: rgb(186, 173, 143);

}

nav
{
	font-family: "TrajanProBold";
	font-size: 18.5px;
	text-align: center;
	list-style-type: none;
}

#li1, #li2, #li3, #li4
{
	display: inline;
}

a
{
	text-decoration: none;
	color: rgb(43, 35, 24);
}

a:hover
{
	color: white;
}

a:active
{
	position: relative;
	top: 10px;
}

nav
{
	background-color: rgb(186, 173, 143);
	position: sticky;
	top: 0px;
	z-index: 3;
}

#hr1
{
	margin-left: -50px;
	margin-right: -50px;
	margin-bottom: -15px;
	height: 2px;
	background-color: rgb(43, 35, 24);
	border: none;
}

#hr2
{
	margin-top: -15px;
	margin-left: -50px;
	margin-right: -50px;
	height: 2px;
	background-color: rgb(43, 35, 24);
	border: none;
}

#li1
{
	margin-right: 40px;
}

#li2
{
	margin-right: 40px;
}

#li3
{
	margin-right: 40px;
}

#li4
{
	margin-right: 40px;
}

#p
{
	margin-top: 20px;
	font-family: "TrajanProBold";
	font-size: 35px;
	font-weight: bold;
	text-align: justify;
	color: black;
}

#hp, #hp1, #hp2, #hp3, #hp4, #hp5, #hp6
{
	margin-top: 20px;
	font-family: "Century Gothic";
	font-size: 25px;
	text-align: justify;
	color: black;	
}

#p1, #p2, #p3, #p4, #p5
{
	display: block;
	text-align: center;
	margin-top: 20px;
}

#refhr
{
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "TrajanProBold";
	font-size: 20px;
	text-align: left;
	color: black;
	font-weight: bold;
}

footer
{
	margin-top: 20px;
	font-family: "Century Gothic";
	font-size: 16px;
	text-align: left;
	color: black;
}

aside
{
	float: right;
	position: fixed;
	top: 40%;
	z-index: 4;
}

.icon1
{ 
	position: relative;
	background: url(../images/imgsprite.png) no-repeat -0px -153px;
	width: 84px;
	height: 77px;
}

.icon1:hover
{
	animation-name: ania;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	background: url(../images/imgsprite.png) no-repeat -0px -69px;
}

@keyframes ania
{
	from{background-position-y:-153px;}
	to{background-position-y:-69px;}
}

.icon2
{ 
	background: url(../images/imgsprite.png) no-repeat -672px -153px;
	width: 84px;
	height: 77px;
}

.icon2:hover
{
	animation-name: anib;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	background: url(../images/imgsprite.png) no-repeat -672px -70px;
}

@keyframes anib
{
	from{background-position-y:-153px;}
	to{background-position-y:-70px;}
}

.icon3
{ 
	position: relative;
	background: url(../images/imgsprite.png) no-repeat -841px -153px;
	width: 84px;
	height: 77px;
	bottom: 1px;
}

.icon3:hover
{
	animation-name: anic;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	background: url(../images/imgsprite.png) no-repeat -841px -70px;
}

@keyframes anic
{
	from{background-position-y:-153px;}
	to{background-position-y:-70px;}
}